/* variable */

:root {
  /* color */
  --dark-black-color: #151515;
  --dark-black-color-transparent: #151515d9;
  --bg-color: var(--dark-black-color);
  --pattern-color: var(--mid-black);
  --check-button-on: #6abc59;
  --danger-color: #d41818a8;
  --success-color: #15b422a8;
  --warning-color: #c09e06a8;
  --dark-gray: #444444;
  --light-black: #222222;
  --light-black-transparent: #252525d9;
  --light-gray: #aaaaaa;
  --light-gray-transparent: #444444d9;
  --lighter-black: #252525;
  --mid-black: #1d1d1d;
  --very-light-black: #333333;
  --white: #ffffff;
  --shadow-color-normal: rgba(0, 0, 0, 0.15);
  --shadow-color-dark: rgba(0, 0, 0, 0.2);
  /* size */
  --spacing: 25px;
  --larg-button-size: 58px;
  --svg-size: calc(var(--larg-button-size) - 16px);
  --setting-width: 275px;
  --setting-top: calc(var(--spacing) + var(--larg-button-size) + var(--larg-gap));
  --setting-item-width: 45px;
  --setting-item-height: 26px;
  --check-button-circle-size: calc(var(--setting-item-height) - var(--normal-padding));
  /* border radius */
  --full: 999px;
  --larg-border-redius: 12px;
  --medium-border-radius: calc(var(--larg-border-redius) - var(--small-padding));
  --small-border-radius: 4px;
  /* gap */
  --small-gap: 4px;
  --medium-gap: 6px;
  --larg-gap: 8px;
  --extera-larg-gap: 12px;
  /* padding */
  --small-padding: 4px;
  --normal-padding: 6px;
  --medium-padding: 8px;
  --larg-padding: 12px;
  --extera-larg-padding: 16px;
  /* font */
  --button-font-weight: 700;
  --input-font-weight: 500;
  --placholder-font-weight: 300;
  --button-font-size: 18px;
  /* tansition */
  --short-duration: 100ms;
  --normal-duration: 200ms;
  --long-duration: 250ms;
  --very-long-duration: 500ms;
  --ease-in-Interpolation: cubic-bezier(0.7, 0, 1, 0.5);
  --smooth-Interpolation: cubic-bezier(0.7, 0, 0.3, 1);
  --bounce-Interpolation: cubic-bezier(0, 1.4, 0.5, 1);
  /* tansform */
  --hover-rotate: 15deg;
  --min-hover-rotate: -15deg;
  /* pallet */
  --pallet-width: 450px;
  --pallet-height: 52px;
  /* shadow */
  --small-shadow: 0px 0px 20px var(--shadow-color-normal);
  --medium-shadow: 0px 10px 25px var(--shadow-color-normal);
  --larg-shadow: 0px 30px 70px var(--shadow-color-dark);
}

/* font */

@font-face {
  font-family: poppins;
  src: url(Asset/font/Poppins-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: poppins;
  src: url(Asset/font/Poppins-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: poppins;
  src: url(Asset/font/Poppins-Medium.ttf);
  font-weight: 700;
}

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

button,
input,
textarea {
  all: unset;
}

input,
textarea {
  user-select: unset;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

ul {
  list-style-type: none;
}



/* utility */

.small-shadow {
  box-shadow: var(--small-shadow);
}

.medium-shadow {
  box-shadow: var(--medium-shadow);
}

.larg-shadow {
  box-shadow: var(--larg-shadow);
}

.menu-style {
  backdrop-filter: blur(13px);
  box-shadow: var(--medium-shadow);
  background-color: var(--light-black-transparent);
}

input[type="text"] {
  color: var(--white);
  padding: var(--larg-padding);
  font-weight: var(--input-font-weight);
}

input[type="text"]::placeholder {
  font-weight: var(--placholder-font-weight);
  color: var(--lighter-black);
}

input[type="color"] {
  cursor: pointer;
}

.check-button {
  width: var(--setting-item-width);
  height: var(--setting-item-height);
  border-radius: var(--full);
  position: relative;
  display: inline-block;
  background-color: var(--light-gray);
  cursor: pointer;
  box-shadow: var(--small-shadow);
  transition: var(--long-duration);
}

.check-button::after {
  content: "";
  width: var(--check-button-circle-size);
  height: var(--check-button-circle-size);
  border-radius: var(--full);
  position: absolute;
  top: calc(var(--normal-padding) / 2);
  left: calc(var(--normal-padding) / 2);
  background-color: var(--white);
  box-shadow: var(--small-shadow);
  transition: var(--long-duration) var(--smooth-Interpolation);
}

.check-button.on {
  background-color: var(--check-button-on);
}

span.check-button.on::after {
  left: calc(var(--setting-item-width) - var(--check-button-circle-size) - calc(var(--normal-padding) / 2));
}

.color-setting {
  box-sizing: border-box;
  width: var(--setting-item-width);
  height: var(--setting-item-height);
  border-radius: var(--full);
  border: 3px solid var(--lighter-black);
  box-shadow: var(--small-shadow);
}

.add-button {
  color: var(--light-gray);
  fill: var(--light-gray);
  background-color: var(--dark-gray);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  transition: var(--short-duration);
  cursor: pointer;
  box-shadow: var(--small-shadow);
}

.add-button svg {
  transition: rotate var(--normal-duration), fill 0ms;
}

.add-button:hover svg {
  rotate: var(--min-hover-rotate);
}

.larg-button,
.setting-icon {
  width: var(--larg-button-size);
  height: var(--larg-button-size);
  background-color: var(--dark-gray);
  fill: var(--light-gray);
  color: var(--light-gray);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  cursor: pointer;
  box-shadow: var(--medium-shadow);
  transition: var(--short-duration);

  & svg {
    width: var(--svg-size);
    height: var(--svg-size);
    transition: rotate var(--normal-duration);
  }
}

.larg-button:hover svg,
.setting-icon:hover svg {
  rotate: var(--hover-rotate);
}

.larg-button:active,
.setting-icon:active,
.setting-icon.open,
.add-button:active {
  background-color: var(--light-gray);
  fill: var(--dark-gray);
  color: var(--dark-gray);
}

.larg-button {
  transform-origin: top center;
  filter: blur(10px);
  scale: .5;
  opacity: 0;
  pointer-events: none;
  transition: background-color var(--short-duration), scale var(--long-duration), opacity var(--long-duration), filter var(--long-duration), fill var(--short-duration);
}

.larg-button.show {
  filter: blur(0px);
  scale: 1;
  opacity: 1;
  pointer-events: unset;
}

.add-note-section [type="color"] {
  box-sizing: border-box;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--full);
  border: 3px solid var(--dark-gray);
  box-shadow: var(--small-shadow);
}

.add-note-section .add-button {
  padding-left: 18px;
  padding-right: 16px;
  border-radius: var(--full);
  display: flex;
  gap: var(--larg-gap);
  align-items: center;
  justify-content: center;
}

.setting-icon {
  box-sizing: border-box;
  padding: var(--medium-padding);
  display: flex;
  align-items: center;
  gap: var(--medium-gap);
  border-radius: calc(var(--larg-button-size) / 2);
  overflow: hidden;
  transition: width var(--normal-duration), color var(--short-duration), background-color var(--short-duration), fill var(--short-duration);
}

.setting-icon svg {
  flex-shrink: 0;
}

.setting-icon span {
  opacity: 0;
  transition: opacity var(--normal-duration), color 0ms;
}

.setting-icon:hover,
.setting-icon.open {
  width: 134px;
}

.setting-icon:hover span,
.setting-icon.open span {
  opacity: 1;
}

.larg-button {
  display: grid;
  place-content: center;
  border-radius: var(--full);
}

.reset-setting {
  width: 100%;
  padding: var(--small-padding);
  border-radius: var(--small-border-radius);
  text-align: center;
  font-size: 16px;
  background-color: var(--light-black);
}

.popup-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--normal-duration);
}
.popup-container.show {
  backdrop-filter: brightness(.5) blur(2px);
}

.popup,
.alert {
  position: absolute;
  border-radius: var(--larg-border-redius);
  padding: var(--larg-padding);
  display: flex;
  flex-direction: column;
  gap: var(--extera-larg-gap);
  color: var(--white);
  pointer-events: none;
  transition: var(--normal-duration);
  box-shadow: var(--medium-shadow);
}

.popup {
  width: clamp(200px, 60%, 300px);
  top: 50%;
  left: 50%;
  background-color: var(--light-black);
  transform: translate(-50%, -50%);
  transform-origin: -25% -25%;
  /* close */
  scale: .5;
  filter: blur(10px);
  opacity: 0;
}

.popup.show {
  scale: 1;
  filter: blur(0px);
  opacity: 1;
  pointer-events: unset;
  transition: var(--long-duration) var(--bounce-Interpolation);

}

.popup h3 {
  text-align: center;
}

.popup p {
  color: var(--light-gray);
  font-weight: 300;
  font-size: 14px;
}

.popup .button-container {
  display: flex;
  gap: var(--medium-gap);
}

.popup .button-container * {
  width: 100%;
  padding: var(--normal-padding);
  border-radius: var(--small-border-radius);
  cursor: pointer;
  text-align: center;
  box-shadow: var(--small-shadow);
}

.popup .button-container #confirm {
  background-color: var(--danger-color);
}

.popup .button-container #decline {
  background-color: var(--dark-gray);
  color: var(--white);
}

.alert {
  width: clamp(230px, 50%, 330px);
  top: -100%;
  left: 30px;
  background-color: var(--light-gray-transparent);
  backdrop-filter: blur(16px);
  transform-origin: top left;
  transition: var(--long-duration) var(--ease-in-Interpolation);
}

.alert.show {
  top: 30px;
  transition: var(--long-duration);
}

.alert.hide {
  filter: blur(20px);
  scale: .5;
  opacity: 0;
}

.alert.danger {
  background-color: var(--danger-color);
}

.alert.warning {
  background-color: var(--warning-color);
  color: var(--dark-black-color);

  & p {
    color: var(--mid-black);
  }
}

.alert.success {
  background-color: var(--success-color);
}

/* style */

body {
  height: 100vh;
  position: relative;
  background-color: var(--bg-color);
  font-family: poppins;
  z-index: -2;
  overflow: auto;
}

.pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: var(--pattern-color);
  mask: url(./Asset/image/Ellipse\ 8.svg);
  z-index: -1;
  transition: var(--normal-duration);
}

.pattern.hide {
  opacity: 0;
}

main {
  width: 200%;
  height: 200%;
  position: relative;
}

.right-button-section,
.add-note-section,
.setting-menu {
  position: fixed;
}

.right-button-section,
.add-note-section {
  top: var(--spacing);
}

.add-note-section {
  width: fit-content;
  height: var(--larg-button-size);
  padding: var(--normal-padding);
  display: flex;
  gap: var(--medium-gap);
  border-radius: var(--full);
  left: var(--spacing);
}

.right-button-section {
  right: var(--spacing);
  display: flex;
  gap: var(--larg-gap);
}

.setting-menu {
  width: var(--setting-width);
  top: var(--setting-top);
  right: var(--spacing);
  padding: var(--larg-padding);
  border-radius: var(--larg-border-redius);
  font-weight: 500;
  color: var(--white);
  background-color: var(--light-gray-transparent);
  transform-origin: top right;
  transition: var(--normal-duration) var(--ease-in-Interpolation);
  /* close */
  filter: blur(10px);
  scale: .5;
  opacity: 0;
  pointer-events: none;
}

.setting-menu.show {
  opacity: 1;
  scale: 1;
  filter: blur(0px);
  pointer-events: unset;
  transition: var(--very-long-duration) var(--bounce-Interpolation);
}

.setting-menu ul {
  display: flex;
  flex-direction: column;
  gap: var(--larg-gap);
}

.setting-menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-menu .setting-title {
  user-select: none;
  cursor: default;
}

/* palllet */
.pallet {
  width: var(--pallet-width);
  height: var(--pallet-height);
  display: flex;
  gap: var(--small-gap);
  padding: var(--small-padding);
  border-radius: var(--larg-border-redius);
}

.pallet input {
  width: 100%;
  background-color: var(--dark-black-color-transparent);
  border-radius: var(--medium-border-radius);
}

.pallet .add-button {
  width: var(--pallet-add-button-width);
  padding: var(--medium-padding) var(--extera-larg-padding);
  border-radius: var(--medium-border-radius);
  display: grid;
  place-content: center;
}

.pallet .add-button:hover {
  color: var(--white);
}

.pallet .add-button:active {
  color: var(--dark-gray);
  background-color: var(--light-gray);
}

/* note */

.note {
  width: 300px;
  height: 375px;
  position: absolute;
  top: 400px;
  left: 100px;
  display: flex;
  flex-direction: column;
  border-radius: var(--larg-border-redius);
  overflow: hidden;
  resize: both;
  background-color: var(--mid-black);
  box-shadow: var(--medium-shadow);
}

.note * {
  flex-shrink: 0;
}

.note .bar {
  width: 100%;
  height: 38px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: yellow;
  box-shadow: var(--small-shadow);
}

.note .bar svg {
  stroke: var(--dark-black-color);
}

.note .content {
  width: 100%;
  height: 100%;
  padding: var(--small-padding);
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

.note .content input {
  height: 36px;
  padding: 0 8px;
  font-size: 18px;
  font-weight: 500;
  border-radius: var(--small-border-radius);
  background-color: var(--light-black);

  &::placeholder {
    color: var(--dark-gray);
  }
}

.note .content textarea {
  height: 100%;
  padding: 0 var(--small-padding);
  font-weight: 300;
  font-size: 14px;
  color: var(--light-gray);

  &::placeholder {
    color: var(--very-light-black);
  }
}